env
dodo_commands.config
dodo_commands.sublime-project
dodo_commands.sublime-workspace
dodo-setup
dodo-activate
dodo-install-defaults
*.pyc
doc_build
defaults/projects/*
!defaults/projects/__init__.py
defaults/commands/*
!defaults/commands/__init__.py
.cache
