env
build
dodo_commands.config
dodo_commands.egg-info
dodo_commands.sublime-project
dodo_commands.sublime-workspace
dodo_commands/default_commands
dodo_commands/dependencies/*/
dodo_commands/dependencies/*.*
!dodo_commands/dependencies/__init__.py
*.pyc
dist/*
doc/_build
doc_html
.cache
*.code-workspace
